livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-plugins-ai-coustics

duckduckgo-search
openai
spotipy
psutil
requests
python-dotenv
pypdf
Pillow
pystray
